#a{
    border-style: solid;
    border-color: transparent;
    background-color: rgb(240, 183, 164);
    border-left-color: red;
    margin: 20px;
    padding: 15px;
    text-align: center;
    text-align-last: right;
}
/* outline is same as border, instead of border its outline */

